/* Login & Register Page with News Feed Setting */

@media (max-width: 992px) {
    .login.login-with-news-feed .news-caption,
    .register.register-with-news-feed .news-caption {
        font-size: 12px;
        padding: 15px 30px;
    }
    .login.login-with-news-feed .news-caption .caption-title,
    .register.register-with-news-feed .news-caption .caption-title {
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .login.login-with-news-feed .news-feed,
    .register.register-with-news-feed .news-feed {
        display: none;
    }
    .login.login-with-news-feed .right-content,
    .register.register-with-news-feed .right-content {
        float: none;
        width: auto;
    }
    .login.login-with-news-feed .login-header .icon {
        right: 60px;
    }
}
@media (max-width: 480px) {
    .login.login-with-news-feed .login-header .icon {
        display: none;
    }
    .login.login-with-news-feed .login-header,
    .register.register-with-news-feed .register-header {
        padding: 40px 40px 0;
    }
    .login.login-with-news-feed .login-content,
    .register.register-with-news-feed .register-content {
        padding: 20px 40px;
    }
}
@media (max-width: 360px) {
    .login.login-with-news-feed .login-header,
    .register.register-with-news-feed .register-header {
        padding: 40px 30px 0;
    }
    .login.login-with-news-feed .login-content,
    .register.register-with-news-feed .register-content {
        padding: 20px 30px;
    }
}