/* -------------------------------
   Login Styles
------------------------------- */

body {
    background: #ffffff;
    font-size: 12px;
    font-family: 'Open Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #707478;
}
a {
    transition: color 100ms ease-in-out;
    -o-transition: color 100ms ease-in-out;
    -ms-transition: color 100ms ease-in-out;
    -moz-transition: color 100ms ease-in-out;
    -webkit-transition: color 100ms ease-in-out;
}
.alert {
    padding: 10px !important;
}
.text-success {
    color: #00acac !important;
}
.fade {
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
}
.login.login-with-news-feed, .register.register-with-news-feed {
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
}
.login {
    position: absolute;
    left: 0;
    right: 0;
}
.login.login-with-news-feed .news-feed, .register.register-with-news-feed .news-feed {
    position: fixed;
    left: 0;
    right: 500px;
    top: 0;
    bottom: 0;
    -webkit-transform: translateZ(0);
    overflow: hidden;
}
.login.login-with-news-feed .news-image, .register.register-with-news-feed .news-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.login.login-with-news-feed .news-image img, .register.register-with-news-feed .news-image img {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    max-height: 100%;
    min-width: 100%;
    top: -1960px;
    bottom: -1960px;
    left: -1960px;
    right: -1960px;
    margin: auto;
}
.login.login-with-news-feed .news-caption, .register.register-with-news-feed .news-caption {
    background: rgba(0, 0, 0, 0.7);
    color: #999;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 60px;
    font-size: 14px;
    z-index: 20;
    font-weight: 300;
    min-width: 680px;
}
.login.login-with-news-feed .news-caption .caption-title, .register.register-with-news-feed .news-caption .caption-title {
    color: rgba(255,255,255,0.8);
    font-weight: 300;
    font-size: 28px;
}
.login.login-with-news-feed .right-content, .register.register-with-news-feed .right-content {
    float: right;
    width: 500px;
}
.login .login-header {
    width: 450px;
    font-weight: 300;
}
.login.login-with-news-feed .login-header, .register.register-with-news-feed .register-header {
    position: relative;
    top: 0;
    margin: 0;
    left: 0;
    right: 0;
    padding: 100px 60px 0;
}
.login.login-with-news-feed .login-content, .register.register-with-news-feed .register-content {
    width: auto;
    padding: 30px 60px;
}
.login .login-content {
    color: #999;
    width: 450px;
}
.brand {
    color: #242a30;
}
.brand small {
    color: #707478;
}
.brand small {
    font-size: 14px;
    display: block;
}
.brand {
    padding: 0;
    font-size: 28px;
}
.navbar-logo, .coming-soon .brand .logo, .brand .logo {
    background: url(../img/zug_logo.png);
    padding: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    top: -9px;
    border: none !important;
}
.brand .logo {
    width: 28px;
    height: 28px;
    position: relative;
    font-size: 0;
    margin-right: 10px;
}
.login.login-with-news-feed .login-header .icon {
    top: 98px;
    right: 10px;
}
.login .login-header .icon {
    position: absolute;
    opacity: 0.1;
    filter: alpha(opacity=10);
}
.login .login-header .icon i {
    font-size: 70px;
}


/* -------------------------------
   Register Page
------------------------------- */

.register.register-with-news-feed .register-header {
    padding: 60px 60px 0;
    font-size: 32px;
}
.register.register-with-news-feed .register-header small {
    color: #707478;
    display: block;
    font-size: 14px;
    margin-top: 10px;
    line-height: 20px;
    font-weight: 300;
}
.register.register-with-news-feed .register-content {
    padding: 20px 60px 30px;
}
label {
	font-weight: 600;
	color: #242a30;
}
.text-danger {
    color: #ff5b57!important;
}
.row.row-space-10 {
    margin: 0 -5px;
}


/* -------------------------------
   Button Setting
------------------------------- */

.btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    transition: all .1s linear;
}
.btn-block {
    padding-right: 12px;
}
.btn.btn-success {
    color: #fff;
    background: #00acac;
    border-color: #00acac;
}
.btn.btn-lg {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.row.row-space-10>[class*=col-] {
    padding: 0 5px;
}
.btn.btn-primary {
    color: #fff;
    background: #348fe2;
    border-color: #348fe2;
}


/* -------------------------------
   Form Setting
------------------------------- */

.m-b-15 {
    margin-bottom: 15px !important;
}
.m-b-30 {
    margin-bottom: 30px !important;
}
.text-inverse {
    color: #2d353c !important;
}
.p-b-40 {
    padding-bottom: 40px !important;
}
.m-b-40 {
    margin-bottom: 40px !important;
}
.m-t-20 {
    margin-top: 20px !important;
}
.form-control {
    border: 1px solid #ccd0d4;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.well {
    padding: 15px;
    background: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
}

/* -------------------------------
   Pace Loader Setting
------------------------------- */

.pace-inactive {
    opacity: 0;
    filter: alpha(opacity=0);
}
.pace {
    background: #2d353c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: 1020;
}
.pace-progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 2px;
    background: #00acac;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
    z-index: 2000;
}
.pace:before {
    content: '';
    background: #242a30;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 2px;
}
.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #00acac;
    border-left-color: #00acac;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}
@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

.parsley-error {
    background: #ffdedd !important;
    border-color: #ff5b57 !important;
}
.parsley-errors-list {
    padding: 0 !important;
    list-style-type: none !important;
    margin: 0 !important;
    color: #e5603b;
    font-size: 12px !important;
    line-height: inherit !important;
}

/* CHECKBOX CSS */
.checkbox.checkbox-css {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
}
.checkbox.checkbox-css input, .radio.radio-css input {
    display: none;
}
.checkbox.checkbox-css.checkbox-success input:checked+label:before {
    background: #00acac;
    border-color: #00acac;
}
.checkbox.checkbox-css label:before {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    width: 14px;
    height: 14px;
    border-radius: 4px;
    margin-left: -7px;
    border: 1px solid #ccd0d4;
}
.checkbox.checkbox-css input:checked+label:after {
    content: '\f00c';
    position: absolute;
    left: 6px;
    top: 2px;
    font-family: FontAwesome;
    color: #fff;
    line-height: 14px;
    margin-left: -7px;
    width: 14px;
    text-align: center;
}
