.thumbnail {
    height: 14vh;
}
.thumbnail a {
    width: 100%;
}
.thumbnail h4 {
    margin-top: 0;
}
.bg-card {
    background-color: #00acac !important;
    color: #fff !important;
}
.card-box {
    display: block;
    min-height: 100px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}
.card-box a {
    font-weight: bold;
}
.card-box a, .card-box i {
    color: #fff;
}
.card-box p.ellipsis {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 30px; /* Fallback for non-webkit */
  font-size: 12px;
  line-height: 1.3em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 100px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}
.card-box-icon i {
    line-height: 100px;
}
.card-box-content {
    padding: 5px 10px;
    margin-left: 90px;
    position: relative;
    min-height: 100px;
}
.card-box-footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
}
.card-box-text {
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}
.card-box .card-progress {
    background: rgba(0,0,0,0.2);
    margin: 5px -10px 5px -10px;
    height: 2px;
    box-shadow: none;
    overflow: hidden;
    width: 100%;
}
.card-progress-bar {
    height: 100%;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
}
.card-box .card-progress .card-progress-bar {
    background: #fff;
}
.card-box .card-progress, .card-box .card-progress .card-progress-bar {
    border-radius: 0;
}
.card-description-editor {
    white-space: nowrap;
}

@media (max-width: 414px) {
    .card-box p {
        font-size: 11px;
    }
}