a {
	text-decoration: none;
}
body {
    background: #d9e0e7;
    font-size: 12px;
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #707478;
    line-height: 1.42857143;
    margin: 0;
}
body, html {
    height: 100%;
}
.error {
    margin: 0 auto;
    text-align: center;
}
.error-code {
    bottom: 60%;
    color: #2d353c;
    font-size: 96px;
    line-height: 100px;
}
.error-message {
    color: #fff;
    font-size: 24px;
}
.error-code, .error-content {
    position: absolute;
    left: 0;
    right: 0;
}
.m-b-10 {
    margin-bottom: 10px!important;
}
.m-b-20 {
    margin-bottom: 20px!important;
}
.error-content {
    top: 40%;
    bottom: 0;
    padding-top: 15px;
    background: #2d353c;
}
.error-desc {
    font-size: 12px;
    color: #647788;
}
.btn.btn-success {
    color: #fff;
    background: #00acac;
    border-color: #00acac;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    transition: all .1s linear;
}