<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>ZugEnt | Billing Purchase</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="assets/css/animate.min.css" rel="stylesheet" />
	<link href="assets/css/style.min.css" rel="stylesheet" />
	<link href="assets/css/style-responsive.min.css" rel="stylesheet" />
	<link href="assets/css/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->


    <div id="page-container" class="fade in">
        <!-- begin login -->
        <div class="login bg-black animated fadeInDown">
            <!-- begin brand -->
            <div class="login-header hidden-print" style="left:45%;width: 650px;"">
                <div class="brand text-center">
                    Thank you! Your balance has been paid.
                    <small>Your License has been renewed.</small>
                </div>
            </div>
            <!-- end brand -->

            <!-- begin table-panel -->
            <div class="container">
                <p></p>
                <div class="text-center hidden-print">
					<a href="/dashboard.php" class="btn btn-success">Continue to Dashboard</a>
                </div>
                <p></p>
                <div class="panel panel-inverse hidden-print" data-sortable-id="new-contacts">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">Date Created: {$company_created|date_format:'%B %d, %Y'}</div>
                        <h4 class="panel-title">Billing History</h4>
                    </div>
                    <div class="panel-body">
                        <table id="file-types" class="table table-condensed">
                            {if $payment_history}
                            <thead>
                                <tr>
                                    <th>Stripe Charge</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach from=$payment_history item=row }
                                <tr>
                                    <td>{$row.stripe_charge}</td> 
                                    <td>${$row.amount}</td>
                                    <td>{$row.date_charge|date_format}</a></td>
                                </tr>
                                {/foreach}
                            </tbody>
                            {else}
                                <p class="text-center">No Payment History Found.</p>
                            {/if}
                        </table>
                    </div>
                </div>
                <p></p>
            </div>
            <!-- end table-panel -->

        </div>
        <!-- end login -->
    </div>
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="assets/plugins/jquery/jquery-1.9.1.min.js"></script>
	<script src="assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!--[if lt IE 9]>
		<script src="assets/crossbrowserjs/html5shiv.js"></script>
		<script src="assets/crossbrowserjs/respond.min.js"></script>
		<script src="assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/plugins/jquery-cookie/jquery.cookie.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="assets/js/apps.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
</body>
</html>
