{include file="includes/home_header.tpl"}

<div id="content" class="content" style="padding-top: 100px;">
	<div class="container">
				<ul class="post-list">
					<li>
                            <!-- begin post-left-info -->
                            <div class="post-left-info">
                                <div class="post-date">
                                    <span class="day">21</span>
                                    <span class="month">AUG<br/>2017</span>
                                </div>
                            </div>
                            <!-- end post-left-info -->
                            <!-- begin post-content -->
                            <div class="post-content">
                                <!-- begin blockquote -->
                                <blockquote>
                                    "We’re excited to finally let our vision of simple, no nonsense marketing and lead management tools for agents and brokers to reach you, our current and future customers."
                                </blockquote>
                                <!-- end blockquote -->
                                <!-- begin post-info -->
                                <div class="post-info">
                                    <h4 class="post-title">
                                        <a href="post_detail.html">Launch Day!</a>
                                    </h4>
                                    <div class="post-by">
                                        Posted By admin
                                    </div>
                                    <div class="post-desc">

										<p>It’s August 21st, 2017 and everybody in the United States is going crazy over the total solar eclipse. We’re also officially celebrating our first major milestone! We’re going live!</p>
										<p>Through lots of hard work and determination by the ZugEnt team the beginning of our product and journey has been realized with providing Agents and Brokerages great toolsets to improve running your business. [...]</p>

                                    </div>
                                </div>
                                <!-- end post-info -->
                                <!-- begin read-btn-container -->
                                <div class="read-btn-container">
                                    <a href="/read_blog.php?date=20170821" class="read-btn">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                                <!-- begin read-btn-container -->
                            </div>
                            <!-- end post-content -->
                        </li>
				</ul>
			</div>
</div>




{include file="includes/home_footer.tpl"}
