<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Zug Marketing | Contacts</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="assets/css/animate.min.css" rel="stylesheet" />
	<link href="assets/css/style.css" rel="stylesheet" />
	<link href="assets/css/style-responsive.min.css" rel="stylesheet" />
	<link href="assets/css/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="assets/plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<!-- begin container-fluid -->
			<div class="container-fluid">
				<!-- begin mobile sidebar expand / collapse button -->
				<div class="navbar-header">
					<a href="dashboard.html" class="navbar-brand"><span class="navbar-logo"></span> ZugEnt</a>
					<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- end mobile sidebar expand / collapse button -->
				
				<!-- begin header navigation right -->
				<ul class="nav navbar-nav navbar-right">
					<li>
						<form class="navbar-form full-width">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Enter keyword" />
								<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
							</div>
						</form>
					</li>
					<li class="dropdown">
						<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
							<i class="fa fa-bell-o"></i>
							<span class="label">5</span>
						</a>
						<ul class="dropdown-menu media-list pull-right animated fadeInDown">
                            <li class="dropdown-header">Notifications (5)</li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Active Contacts w/o Campaign!</h6>
                                        <div class="text-muted f-s-11">3 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="assets/img/user-2.jpg" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Olivia</h6>
                                        <p>New Lead!</p>
                                        <div class="text-muted f-s-11">35 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="assets/img/user-2.jpg" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Olivia</h6>
                                        <p>New Favorite Added!</p>
                                        <div class="text-muted f-s-11">35 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="assets/img/user-2.jpg" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Olivia</h6>
                                        <p>Tour Request!</p>
                                        <div class="text-muted f-s-11">35 minutes ago</div>
                                    </div>
                                </a>
                            </li>

                            <li class="dropdown-footer text-center">
                                <a href="javascript:;">View more</a>
                            </li>
						</ul>
					</li>
					<li class="dropdown navbar-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<img src="assets/img/user-13.jpg" alt="" /> 
							<span class="hidden-xs">John Doe</span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu animated fadeInLeft">
							<li class="arrow"></li>
							<li><a href="javascript:;">Edit Profile</a></li>
							<li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
							<li><a href="javascript:;">Calendar</a></li>
							<li><a href="javascript:;">Setting</a></li>
							<li class="divider"></li>
							<li><a href="javascript:;">Log Out</a></li>
						</ul>
					</li>
				</ul>
				<!-- end header navigation right -->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar nav -->
				<ul class="nav">
					<li class="nav-header">Navigation</li>
					<li class="has-sub active">
						<a href="javascript:;">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-laptop"></i>
						    <span>Dashboard</span>
					    </a>
						<ul class="sub-menu">
						    <li><a href="dashboard.html">Home</a></li>
						    <li class="active"><a href="notifications.html">Notifications</a></li>
						</ul>
					</li>


					<li class="has-sub">
						<a href="javascript:;">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-suitcase"></i>
						    <span>Contacts</span> 
						</a>
						<ul class="sub-menu">
							<li><a href="ui_general.html">Active</a></li>
							<li><a href="ui_typography.html">Neglected</a></li>
							<li><a href="ui_tabs_accordions.html">Followups &amp; ToDo</a></li>
						</ul>
					</li>

					<li><a href="calendar.html"><i class="fa fa-calendar"></i> <span>Follow-Up / Contacts Calendar</span></a></li>


					<li class="has-sub">
						<a href="javascript:;">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-inbox"></i>
						    <span>Campaigns</span> 
						</a>
						<ul class="sub-menu">
						    <li><a href="email_inbox.html">Active Campaigns</a></li>
						    <li><a href="email_inbox_v2.html">Inactive Campaigns</a></li>
						    <li><a href="email_compose.html">Campaign Editor</a></li>
						</ul>
					</li>


			        <!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
			        <!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->
		






		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li><a href="javascript:;">Home</a></li>
				<li><a href="javascript:;">Form Stuff</a></li>
				<li class="active">Wizards</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Contract <small> Buyer and Seller Contract Tracking &amp; Reporting</small></h1>
			<!-- end page-header -->
			
			<!-- begin row -->
			<div class="row">
                <!-- begin col-12 -->
			    <div class="col-md-12">
			        <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">Contract Form</h4>
                        </div>
                        <div class="panel-body">
                            <form action="/" method="POST">
								<div id="wizard">
									<ol>
										<li>
										    Basic Information 
										    <small>Basic Contract Details</small>
										</li>
										<li>
										    Documents
										    <small>Documentation Checklists</small>
										</li>
										<li>
										    Contact Details
										    <small>Seller Details</small>
										</li>
										<li>
										    Contract Dates
										    <small>Standard contract dates</small>
										</li>
										<li>
										    Escrow &amp; Lender
										    <small>Contact Information</small>
										</li>
									</ol>
									<!-- begin wizard step-1 -->
									<div class="form-horizontal">
                                        <fieldset>
											<div class="row">
											<div class="col-md-4">
												<table class="table table-profile">
												    <thead>
												        <tr>
												            <th></th>
												            <th>
												                <h4>Micheal	Meyer <small>Lorraine Stokes</small></h4>
												            </th>
												        </tr>
												    </thead>
												    <tbody>
												        <tr>
												            <td class="field">Mobile</td>
												            <td><i class="fa fa-mobile fa-lg m-r-5"></i> +1-(847)- 367-8924</td>
												        </tr>
												        <tr>
												            <td class="field">Mobile</td>
												            <td><i class="fa fa-mobile fa-lg m-r-5"></i> +1-(847)- 367-8924</td>
												        </tr>
												        <tr>
												            <td class="field">Mobile</td>
												            <td><i class="fa fa-mobile fa-lg m-r-5"></i> +1-(847)- 367-8924</td>
												        </tr>
												        <tr class="divider">
												            <td colspan="2"></td>
												        </tr>
												        <tr class="highlight">
												            <td class="field">Email</td>
												            <td><a href="#">test@email.com</a></td>
												        </tr>
												        <tr class="divider">
												            <td colspan="2"></td>
												        </tr>
												        <tr>
												            <td colspan="2"><a href="#" class="btn btn-primary">View Profile</a></td>
												        </tr>
												    </tbody>
												</table>

											</div><div class="col-md-8">
												<div class="form-group">
													<label class="col-md-2 control-label">Alert Flags</label>
													<div class="col-md-10">
														<label class="checkbox-inline"><input type="checkbox" value="" /> Alert</label>
														<label class="checkbox-inline"><input type="checkbox" value="" /> Alert</label>
														<label class="checkbox-inline"><input type="checkbox" value="" /> Alert</label>
														<label class="checkbox-inline"><input type="checkbox" value="" /> Alert</label>
													</div>
												</div>
	
												<div class="form-group">
													<label class="col-md-2 control-label">Status</label>
													<div class="col-md-10">
														<select class="form-control" placeholder="Default input">
															<option value="Active">Active</option>
															<option value="Active">Pending (In Escrow)</option>
															<option value="Active">Rented</option>
															<option value="Active">Closed</option>
															<option value="Active">Expired</option>
															<option value="Active">Cancelled</option>
														</select>
													</div>
												</div>
	
												<div class="form-group">
													<label class="col-md-2 control-label">MLS #</label>
													<div class="col-md-10">
														<input type="text" class="form-control" placeholder="Default input">
													</div>
												</div>
	
												<div class="form-group">
													<label class="col-md-2 control-label">Property Address</label>
													<div class="col-md-10">
														<input type="text" class="form-control" placeholder="Default input">
													</div>
												</div>
	
												<div class="form-group">
													<label class="col-md-2 control-label">&nbsp;</label>
													<div class="col-md-6"><input type="text" class="form-control" placeholder="City"></div>
													<div class="col-md-2"><input type="text" class="form-control" placeholder="Default input"></div>
													<div class="col-md-2"><input type="text" class="form-control" placeholder="Default input"></div>
												</div>
	
	
												<div class="form-group">
													<label class="col-md-2 control-label">Price</label>
													<div class="col-md-5">
														<input type="text" class="form-control" placeholder="Listing Price">
													</div>
													<div class="col-md-5">
														<input type="text" class="form-control" placeholder="Closing Price">
													</div>
												</div>
	
												<div class="form-group">
													<label class="col-md-2 control-label">Listing Commission</label>
													<div class="col-md-5">
														<input type="text" class="form-control" placeholder="Commision Percentage">
													</div>
													<div class="col-md-5">
														<input type="text" class="form-control" placeholder="Commision Amount">
													</div>
												</div>
	
												<div class="form-group">
													<label class="col-md-2 control-label">Selling Commission</label>
													<div class="col-md-5">
														<input type="text" class="form-control" placeholder="Commision Percentage">
													</div>
													<div class="col-md-5">
														<input type="text" class="form-control" placeholder="Commision Amount">
													</div>
												</div>
											</div>

										</fieldset>
									</div>
									<!-- end wizard step-1 -->
									<!-- begin wizard step-2 -->
									<div class="form-horizontal">
										<fieldset>
											<legend class="pull-left width-full">Document Checklist</legend>

											<div class="col-md-4">
												<div class="checkbox">
												<label><input type="checkbox"> Form 17 - Sellers Disclosures</label>
												</div>
											</div>
											<div class="col-md-4">
												<div class="checkbox">
												<label><input type="checkbox"> Form 22A - Finance Included</label>
												</div>
											</div>
											<div class="col-md-4">
												<div class="checkbox">
												<label><input type="checkbox"> Form 22K - Utilities Included</label>
												</div>
											</div>
											<div class="col-md-4">
												<div class="checkbox">
												<label><input type="checkbox"> Form 22J - Lead based Paint</label>
												</div>
											</div>
											<div class="col-md-4">
												<div class="checkbox">
												<label><input type="checkbox"> Form 22SS - ShortSale Included</label>
												</div>
											</div>
											<div class="col-md-4">
												<div class="checkbox">
												<label><input type="checkbox"> Form 35 - Inspection</label>
												</div>
											</div>
											<div class="col-md-4">
												<div class="checkbox">
												<label><input type="checkbox"> Form 42 - Agency Disclosure</label>
												</div>
											</div>
											<div class="col-md-4">
												<div class="checkbox">
												<label><input type="checkbox"> Earnest Money Receipt/Proof</label>
												</div>
											</div>
											<div class="col-md-4">
												<div class="checkbox">
												<label><input type="checkbox"> Copy of MLS Listing</label>
												</div>
											</div>
											<div class="col-md-4">
												<div class="checkbox">
												<label><input type="checkbox"> Legal Description signed by counterparties</label>
												</div>
											</div>
											<div class="col-md-4">
												<div class="checkbox">
												<label><input type="checkbox"> POS Receipt</label>
												</div>
											</div>
											<div class="col-md-4">
												<div class="checkbox">
												<label><input type="checkbox"> Resell Cert Uploaded</label>
												</div>
											</div>

										</fieldset>
									</div>
									<!-- end wizard step-2 -->
									<!-- begin wizard step-3 -->
									<div class="form-horizontal">
										<fieldset>
											<div class="row">
												<div class="col-md-6">
													<div class="row">
														<legend class="pull-left width-full">Buyer/Seller Information</legend>

														<div class="form-group">
														    <label class="col-md-3 control-label">Full Name</label>
														    <div class="col-md-9"><input type="text" class="form-control" placeholder="Full Name"></div>
														</div>
		
														<div class="form-group">
														    <label class="col-md-3 control-label">Address</label>
														    <div class="col-md-9"><input type="text" class="form-control" placeholder="Full Name"></div>
														</div>

														<div class="form-group">
														    <label class="col-md-3 control-label">City, State</label>
														    <div class="col-md-5"><input type="text" class="form-control" placeholder="Full Name"></div>
														    <div class="col-md-2"><input type="text" class="form-control" placeholder="Full Name"></div>
														    <div class="col-md-2"><input type="text" class="form-control" placeholder="Full Name"></div>
														</div>

		
														<div class="form-group">
														    <label class="col-md-3 control-label">Phone</label>
														    <div class="col-md-9"><input type="text" class="form-control phone-us" placeholder="Full Name"></div>
														</div>
		
														<div class="form-group">
														    <label class="col-md-3 control-label">Email</label>
														    <div class="col-md-9"><input type="text" class="form-control" placeholder="Full Name"></div>
														</div>
													</div>
												</div>

												<div class="col-md-6">
													<div class="row">
														<legend class="pull-left width-full">Agent Information</legend>

														<div class="form-group">
														    <label class="col-md-3 control-label">Full Name</label>
														    <div class="col-md-9"><input type="text" class="form-control" placeholder="Full Name"></div>
														</div>
		
														<div class="form-group">
														    <label class="col-md-3 control-label">Office</label>
														    <div class="col-md-9"><input type="text" class="form-control" placeholder="Full Name"></div>
														</div>
		
														<div class="form-group">
														    <label class="col-md-3 control-label">Phone</label>
														    <div class="col-md-9"><input type="text" class="form-control phone-us" placeholder="Full Name"></div>
														</div>
		
														<div class="form-group">
														    <label class="col-md-3 control-label">Fax</label>
														    <div class="col-md-9"><input type="text" class="form-control" placeholder="Full Name"></div>
														</div>

														<div class="form-group">
														    <label class="col-md-3 control-label">Email</label>
														    <div class="col-md-9"><input type="text" class="form-control" placeholder="Full Name"></div>
														</div>

													</div>
												</div>
	
											</div>
											
										</fieldset>
									</div>
									<!-- end wizard step-3 -->
									<!-- begin wizard step-4 -->
									<div class="form-horizontal">
										<fieldset>
											<legend class="pull-left width-full">Important Dates</legend>
											<div class="row">
												
											<div class="form-group">
											    <label class="col-md-3 control-label">Default Datepicker</label>
											    <div class="col-md-9">
											        <input type="text" class="form-control" id="datepicker-default" placeholder="Select Date" value="04/1/2014">
											    </div>
											</div>

											<div class="form-group">
											    <label class="col-md-3 control-label">Default Datepicker</label>
											    <div class="col-md-9">
											        <input type="text" class="form-control" id="datepicker-default" placeholder="Select Date" value="04/1/2014">
											    </div>
											</div>

											<div class="form-group">
											    <label class="col-md-3 control-label">Default Datepicker</label>
											    <div class="col-md-9">
											        <input type="text" class="form-control" id="datepicker-default" placeholder="Select Date" value="04/1/2014">
											    </div>
											</div>

											<div class="form-group">
											    <label class="col-md-3 control-label">Default Datepicker</label>
											    <div class="col-md-9">
											        <input type="text" class="form-control" id="datepicker-default" placeholder="Select Date" value="04/1/2014">
											    </div>
											</div>

											</div>
											
										</fieldset>
									</div>
									<!-- end wizard step-4 -->
									<!-- begin wizard step-5 -->
									<div class="form-horizontal">
										
										<fieldset>
											<div class="row">
												<div class="col-md-6">
													<div class="row">
														<legend class="pull-left width-full">Escrow</legend>

														<div class="form-group">
														    <label class="col-md-3 control-label">Company</label>
														    <div class="col-md-9"><input type="text" class="form-control" placeholder="Full Name"></div>
														</div>

														<div class="form-group">
														    <label class="col-md-3 control-label">Branch</label>
														    <div class="col-md-9"><input type="text" class="form-control" placeholder="Full Name"></div>
														</div>
		
														<div class="form-group">
														    <label class="col-md-3 control-label">Address</label>
														    <div class="col-md-9"><input type="text" class="form-control" placeholder="Full Name"></div>
														</div>

														<div class="form-group">
														    <label class="col-md-3 control-label">City, State</label>
														    <div class="col-md-5"><input type="text" class="form-control" placeholder="Full Name"></div>
														    <div class="col-md-2"><input type="text" class="form-control" placeholder="Full Name"></div>
														    <div class="col-md-2"><input type="text" class="form-control" placeholder="Full Name"></div>
														</div>

														<div class="form-group">
														    <label class="col-md-3 control-label">Contact</label>
														    <div class="col-md-9"><input type="text" class="form-control" placeholder="Full Name"></div>
														</div>

		
														<div class="form-group">
														    <label class="col-md-3 control-label">Phone</label>
														    <div class="col-md-9"><input type="text" class="form-control phone-us" placeholder="Full Name"></div>
														</div>
		
														<div class="form-group">
														    <label class="col-md-3 control-label">Fax</label>
														    <div class="col-md-9"><input type="text" class="form-control" placeholder="Full Name"></div>
														</div>
														
														<div class="form-group">
														    <label class="col-md-3 control-label">Email</label>
														    <div class="col-md-9"><input type="text" class="form-control" placeholder="Full Name"></div>
														</div>

													</div>
												</div>

												<div class="col-md-6">
													<div class="row">
														<legend class="pull-left width-full">Lender Information</legend>



														<div class="form-group">
														    <label class="col-md-3 control-label">Company</label>
														    <div class="col-md-9"><input type="text" class="form-control" placeholder="Full Name"></div>
														</div>

														<div class="form-group">
														    <label class="col-md-3 control-label">Branch</label>
														    <div class="col-md-9"><input type="text" class="form-control" placeholder="Full Name"></div>
														</div>
		
														<div class="form-group">
														    <label class="col-md-3 control-label">Address</label>
														    <div class="col-md-9"><input type="text" class="form-control" placeholder="Full Name"></div>
														</div>

														<div class="form-group">
														    <label class="col-md-3 control-label">City, State</label>
														    <div class="col-md-5"><input type="text" class="form-control" placeholder="Full Name"></div>
														    <div class="col-md-2"><input type="text" class="form-control" placeholder="Full Name"></div>
														    <div class="col-md-2"><input type="text" class="form-control" placeholder="Full Name"></div>
														</div>

														<div class="form-group">
														    <label class="col-md-3 control-label">Contact</label>
														    <div class="col-md-9"><input type="text" class="form-control" placeholder="Full Name"></div>
														</div>

		
														<div class="form-group">
														    <label class="col-md-3 control-label">Phone</label>
														    <div class="col-md-9"><input type="text" class="form-control phone-us" placeholder="Full Name"></div>
														</div>
		
														<div class="form-group">
														    <label class="col-md-3 control-label">Fax</label>
														    <div class="col-md-9"><input type="text" class="form-control" placeholder="Full Name"></div>
														</div>
														
														<div class="form-group">
														    <label class="col-md-3 control-label">Email</label>
														    <div class="col-md-9"><input type="text" class="form-control" placeholder="Full Name"></div>
														</div>

													</div>
												</div>
	
											</div>
											
										</fieldset>

										
									</div>
									<!-- end wizard step-5 -->
								</div>
							</form>
                        </div>
                    </div>
                    <!-- end panel -->
                </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
		</div>
		<!-- end #content -->




		

		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="assets/plugins/jquery/jquery-1.9.1.min.js"></script>
	<script src="assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!--[if lt IE 9]>
		<script src="assets/crossbrowserjs/html5shiv.js"></script>
		<script src="assets/crossbrowserjs/respond.min.js"></script>
		<script src="assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/plugins/jquery-cookie/jquery.cookie.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="assets/plugins/morris/raphael.min.js"></script>
    <script src="assets/plugins/morris/morris.js"></script>
    <script src="assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js"></script>
    <script src="assets/plugins/jquery-jvectormap/jquery-jvectormap-world-merc-en.js"></script>
    <script src="assets/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js"></script>
	<script src="assets/plugins/gritter/js/jquery.gritter.js"></script>

	<script src="assets/plugins/bootstrap-wizard/js/bwizard.js"></script>
	<script src="assets/js/form-wizards.demo.js"></script>

	<script src="assets/js/apps.js"></script>
	<script src="assets/js/jquery.mask.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<script>
		$(document).ready(function() {
			App.init();
			FormWizard.init();

			$('.phone-us').mask('(000) 000-0000');
		});
	</script>
</body>
</html>
