<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Zug Marketing | Contacts</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="assets/css/animate.min.css" rel="stylesheet" />
	<link href="assets/css/style.css" rel="stylesheet" />
	<link href="assets/css/style-responsive.min.css" rel="stylesheet" />
	<link href="assets/css/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
    <link href="assets/plugins/jquery-jvectormap/jquery-jvectormap.css" rel="stylesheet" />
    <link href="assets/plugins/bootstrap-calendar/css/bootstrap_calendar.css" rel="stylesheet" />
    <link href="assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <link href="assets/plugins/morris/morris.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<!-- begin container-fluid -->
			<div class="container-fluid">
				<!-- begin mobile sidebar expand / collapse button -->
				<div class="navbar-header">
					<a href="dashboard.html" class="navbar-brand"><span class="navbar-logo"></span> ZugEnt</a>
					<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- end mobile sidebar expand / collapse button -->
				
				<!-- begin header navigation right -->
				<ul class="nav navbar-nav navbar-right">
					<li>
						<form class="navbar-form full-width">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Enter keyword" />
								<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
							</div>
						</form>
					</li>
					<li class="dropdown">
						<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
							<i class="fa fa-bell-o"></i>
							<span class="label">5</span>
						</a>
						<ul class="dropdown-menu media-list pull-right animated fadeInDown">
                            <li class="dropdown-header">Notifications (5)</li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Active Contacts w/o Campaign!</h6>
                                        <div class="text-muted f-s-11">3 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="assets/img/user-2.jpg" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Olivia</h6>
                                        <p>New Lead!</p>
                                        <div class="text-muted f-s-11">35 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="assets/img/user-2.jpg" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Olivia</h6>
                                        <p>New Favorite Added!</p>
                                        <div class="text-muted f-s-11">35 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="assets/img/user-2.jpg" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Olivia</h6>
                                        <p>Tour Request!</p>
                                        <div class="text-muted f-s-11">35 minutes ago</div>
                                    </div>
                                </a>
                            </li>

                            <li class="dropdown-footer text-center">
                                <a href="javascript:;">View more</a>
                            </li>
						</ul>
					</li>
					<li class="dropdown navbar-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<img src="assets/img/user-13.jpg" alt="" /> 
							<span class="hidden-xs">John Doe</span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu animated fadeInLeft">
							<li class="arrow"></li>
							<li><a href="javascript:;">Edit Profile</a></li>
							<li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
							<li><a href="javascript:;">Calendar</a></li>
							<li><a href="javascript:;">Setting</a></li>
							<li class="divider"></li>
							<li><a href="javascript:;">Log Out</a></li>
						</ul>
					</li>
				</ul>
				<!-- end header navigation right -->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar nav -->
				<ul class="nav">
					<li class="nav-header">Navigation</li>
					<li class="has-sub active">
						<a href="javascript:;">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-laptop"></i>
						    <span>Dashboard</span>
					    </a>
						<ul class="sub-menu">
						    <li><a href="dashboard.html">Home</a></li>
						    <li class="active"><a href="notifications.html">Notifications</a></li>
						</ul>
					</li>


					<li class="has-sub">
						<a href="javascript:;">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-suitcase"></i>
						    <span>Contacts</span> 
						</a>
						<ul class="sub-menu">
							<li><a href="ui_general.html">Active</a></li>
							<li><a href="ui_typography.html">Neglected</a></li>
							<li><a href="ui_tabs_accordions.html">Followups &amp; ToDo</a></li>
						</ul>
					</li>

					<li><a href="calendar.html"><i class="fa fa-calendar"></i> <span>Follow-Up / Contacts Calendar</span></a></li>


					<li class="has-sub">
						<a href="javascript:;">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-inbox"></i>
						    <span>Campaigns</span> 
						</a>
						<ul class="sub-menu">
						    <li><a href="email_inbox.html">Active Campaigns</a></li>
						    <li><a href="email_inbox_v2.html">Inactive Campaigns</a></li>
						    <li><a href="email_compose.html">Campaign Editor</a></li>
						</ul>
					</li>


			        <!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
			        <!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li><a href="javascript:;">Home</a></li>
				<li><a href="javascript:;">Dashboard</a></li>
				<li class="active">Contacts</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Contacts <small>Active</small></h1>
			<!-- end page-header -->
			<!-- begin row -->
			<div class="row">
			    <!-- begin col-3 -->
			    <div class="col-md-3 col-sm-6">
			        <div class="widget widget-stats bg-green">
			            <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
			            <div class="stats-title">YOUR ACTIVE CONTACTS</div>
			            <div class="stats-number">292</div>
			            <div class="stats-progress progress">
                            <div class="progress-bar" style="width: 26.1%;"></div>
                        </div>
                        <div class="stats-desc">Contract Closing Rate (26.1%)</div>
			        </div>
			    </div>
			    <!-- end col-3 -->
			    <!-- begin col-3 -->
			    <div class="col-md-3 col-sm-6">
			        <div class="widget widget-stats bg-blue">
			            <div class="stats-icon stats-icon-lg"><i class="fa fa-tags fa-fw"></i></div>
			            <div class="stats-title">YOUR MUTIAL CONTRACTS</div>
			            <div class="stats-number">10</div>
			            <div class="stats-progress progress">
                            <div class="progress-bar" style="width: 40.5%;"></div>
                        </div>
                        <div class="stats-desc">40.5% of your contracts are in mutual</div>
			        </div>
			    </div>
			    <!-- end col-3 -->
			    <!-- begin col-3 -->
			    <div class="col-md-3 col-sm-6">
			        <div class="widget widget-stats bg-purple">
			            <div class="stats-icon stats-icon-lg"><i class="fa fa-shopping-cart fa-fw"></i></div>
			            <div class="stats-title">UPCOMING CONTRACTS</div>
			            <div class="stats-number">10</div>
			            <div class="stats-progress progress">
                            <div class="progress-bar" style="width: 100%;"></div>
                        </div>
                        <div class="stats-desc">Contracts with any dates coming up soon</div>
			        </div>
			    </div>
			    <!-- end col-3 -->
			    <!-- begin col-3 -->
			    <div class="col-md-3 col-sm-6">
			        <div class="widget widget-stats bg-black">
			            <div class="stats-icon stats-icon-lg"><i class="fa fa-comments fa-fw"></i></div>
			            <div class="stats-title">Contracts this Quarter</div>
			            <div class="stats-number">939</div>
			            <div class="stats-progress progress">
                            <div class="progress-bar" style="width: 54.9%;"></div>
                        </div>
                        <div class="stats-desc">54.9% of your quarterly goal</div>
			        </div>
			    </div>
			    <!-- end col-3 -->
			</div>
			<!-- end row -->
			

			<!-- begin row -->
			<div class="row">

			    <div class="col-md-12 col-sm-12">
					<p>
						<a href="javascript:;" class="btn btn-success m-r-5"><i class="fa fa-plus"></i> New Listing Contract</a>
						<a href="javascript:;" class="btn btn-success m-r-5"><i class="fa fa-plus"></i> New Buyers Contract</a>
					</p>

			        <!-- begin panel -->
	                <div class="panel panel-inverse" data-sortable-id="new-contacts">
	                    <div class="panel-heading">
	                        <div class="panel-heading-btn">
	                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
	                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
	                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
	                        </div>
							<h4 class="panel-title">Your Active Contracts</h4>
	                    </div>
	                    <div class="panel-body">
	                        <table class="table table-striped">
	                            <thead>
	                                <tr>
                                        <th>&nbsp;</th>
                                        <th>#</th>
                                        <th>MLS #</th>
                                        <th>Client</th>
                                        <th>Status</th>
                                        <th>Est $</th>
										<th>Mutual</th>
										<th>Expires</th>
										<th>Closing</th>
										<th>Next Date</th>
	                                </tr>
	                            </thead>
	                            <tbody>
									<tr class="success"><td colspan="11" style="font-weight: bold;">Expired in Jan 2016</td></tr>
	                                <tr>
										<td><span class="fa fa-calendar-o text-danger"></span></td>

	                                    <td>1</td>
										<td>A92383B</td>
	                                    <td>Nicky Almera</td>
	                                    <td><span class="label label-default">In Contract</span></td>
	                                    <td>$1,292</td>
	                                    <td>2016-01-11</td>
	                                    <td>2016-06-12</td>
	                                    <td>2016-06-01</td>
	                                    <td>2016-01-01</td>
	                                </tr>
	                                <tr>
										<td>&nbsp;</td>
	                                    <td>1</td>
										<td>A92383B</td>
	                                    <td>Nicky Almera</td>
	                                    <td><span class="label label-default">Active</span></td>
	                                    <td>$1,292</td>
	                                    <td>2016-01-11</td>
	                                    <td>2016-06-12</td>
	                                    <td>2016-06-01</td>
	                                    <td>2016-01-01</td>
	                                </tr>
	                                <tr>
										<td>&nbsp;</td>
	                                    <td>1</td>
										<td>A92383B</td>
										<td>Frank Piz</td>
	                                    <td><span class="label label-default">Active</span></td>
	                                    <td>$1,292</td>
	                                    <td>2016-01-11</td>
	                                    <td>2016-06-12</td>
	                                    <td>2016-06-01</td>
	                                    <td>2016-01-01</td>
	                                </tr>
									<tr class="success"><td colspan="11" style="font-weight: bold;">Expiring in Jan 2016</td></tr>
	                                <tr>
	                                    <td><span class="text-danger fa fa-exclamation"></span></td>
	                                    <td>1</td>
										<td>A92383B</td>
										<td>Frank Piz</td>
	                                    <td><span class="label label-default">Active</span></td>
	                                    <td>$1,292</td>
	                                    <td>2016-01-11</td>
	                                    <td>2016-06-12</td>
	                                    <td>2016-06-01</td>
	                                    <td>2016-01-01</td>
	                                </tr>
	                                <tr>
										<td>&nbsp;</td>
	                                    <td>1</td>
										<td>A92383B</td>
										<td>Frank Piz</td>
	                                    <td><span class="label label-default">Active</span></td>
	                                    <td>$1,292</td>
	                                    <td>2016-01-11</td>
	                                    <td>2016-06-12</td>
	                                    <td>2016-06-01</td>
	                                    <td>2016-01-01</td>
	                                </tr>
	                                <tr>
										<td>&nbsp;</td>
	                                    <td>1</td>
										<td>A92383B</td>
										<td>Frank Piz</td>
	                                    <td><span class="label label-default">Active</span></td>
	                                    <td>$1,292</td>
	                                    <td>2016-01-11</td>
	                                    <td>2016-06-12</td>
	                                    <td>2016-06-01</td>
	                                    <td>2016-01-01</td>
	                                </tr>
	                            </tbody>
	                        </table>
	                    </div>
	                </div>
	                <!-- end panel -->

			    </div>
			</div>
		<!-- end #row -->



		</div>
		<!-- end #content -->
		

		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="assets/plugins/jquery/jquery-1.9.1.min.js"></script>
	<script src="assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!--[if lt IE 9]>
		<script src="assets/crossbrowserjs/html5shiv.js"></script>
		<script src="assets/crossbrowserjs/respond.min.js"></script>
		<script src="assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/plugins/jquery-cookie/jquery.cookie.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="assets/plugins/morris/raphael.min.js"></script>
    <script src="assets/plugins/morris/morris.js"></script>
    <script src="assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js"></script>
    <script src="assets/plugins/jquery-jvectormap/jquery-jvectormap-world-merc-en.js"></script>
    <script src="assets/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js"></script>
	<script src="assets/plugins/gritter/js/jquery.gritter.js"></script>
	<script src="assets/js/dashboard-v2.js"></script>
	<script src="assets/js/apps.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<script>
		$(document).ready(function() {
			App.init();
			DashboardV2.init();
		});
	</script>
</body>
</html>
