{include file="includes/home_header.tpl" is_index=1}


<!-- begin #home -->
<div id="home" class="content has-bg home">
    <!-- begin content-bg -->
    <div class="content-bg">
        <img src="assets/img/home-bg.jpg" alt="Home" />
    </div>
    <!-- end content-bg -->
    <!-- begin container -->
    <div class="container home-content">
        <h1>Welcome to ZugEnt</h1>
        <h3>Measure your success one client at a time.</h3>
        <p>
            Let us help you manage your real estate business. For brokers and agents tools are a necessity to achieve the most out of your business.<br />
            With ZugEnt we have many <a href="#service">tools for a reasonable price</a> for not only single agents but for the whole office to meet your needs.
        </p>
        <a href="#about" class="btn btn-theme">Explore More</a> <a href="/register.php" class="btn btn-outline">Purchase Now</a><br />
    </div>
    <!-- end container -->
</div>
<!-- end #home -->


<!-- begin #about -->
<div id="about" class="content" data-scrollview="true">
    <!-- begin container -->
    <div class="container" data-animation="true" data-animation-type="fadeInDown">
        <h2 class="content-title">About Us</h2>
        <p class="content-desc">
			<p>
			ZugEnt provides an assortment of back office tools for not only agents but also your entire brokerage. Too often a brokerage must purchase a dozen or more different tools all requiring a different login. This is an on-boarding nightmare! Our mantra is simplicity. Provide what you need to get it done. Simply.
			</p>
        </p>

        <!-- begin row -->
        <div class="row">
            <!-- begin col-4 -->
            <div class="col-md-4 col-sm-6">
                <!-- begin about -->
                <div class="about">
                    <h3>Our Story</h3>
                    <p>
						After spending over a decade in the real estate business providing custom tooling for a handful
						of real estate offices and for our own office we realized quickly that with so many tools
						out there we were spending far too much time jumping from one tool to the next and oftentimes
						we were left unimpressed with the quality or an out of date tool.
                    </p>
                    <p>
						We decided that enough was enough and ZugEnt was born. It is our goal to create a great
						toolset that is kept up to date and provide it to you for an affordable price for your entire business.
                    </p>
                </div>
                <!-- end about -->
            </div>
            <!-- end col-4 -->
            <!-- begin col-4 -->
            <div class="col-md-4 col-sm-6">
                <h3>Our Philosophy</h3>
                <div class="about-author">
                    <div class="quote bg-silver">
                        <i class="fa fa-quote-left"></i>
                        <h3>Keeping it simple and making our clients lives easier.</span></h3>
                        <i class="fa fa-quote-right"></i>
                    </div>
                    <div class="author">
                        <div class="image">
                            <img src="assets/img/user-1.jpg" alt="Sean Ngu" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <h3>Some Metrics</h3>
                <div class="service">
                    <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-cog"></i></div>
                    <div class="info">
                        <h4 class="title">24/7 Email Support</h4>
                        <p class="desc">We won't leave you hanging. Our team answers your support questions around the clock.</p>
                    </div>
                </div>

                <div class="service">
                    <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-cog"></i></div>
                    <div class="info">
                        <h4 class="title">Brokers &amp; Agents</h4>
                        <p class="desc">Brokers and agents alike benefit from our tools. Let us help your entire office!</p>
                    </div>
                </div>

                <div class="service">
                    <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-cog"></i></div>
                    <div class="info">
                        <h4 class="title">Custom Development</h4>
                        <p class="desc">Some of the box providers are inflexible. At ZugEnt we know that not every office is alike. Our custom development department is there to help!</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end #about -->

<!-- begin #quote -->
<div id="quote" class="content bg-black-darker has-bg" data-scrollview="true">
    <!-- begin content-bg -->
    <div class="content-bg">
        <img src="assets/img/quote-bg.jpg" alt="Quote" />
    </div>
    <!-- end content-bg -->
    <!-- begin container -->
    <div class="container" data-animation="true" data-animation-type="fadeInLeft">
        <!-- begin row -->
        <div class="row">
            <!-- begin col-12 -->
            <div class="col-md-12 quote">
                <i class="fa fa-quote-left"></i> When we had a technical process that needed <br/>
                solved ZugEnt was able step in and help!
                <i class="fa fa-quote-right"></i>
                {*<small></small>*}
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end #quote -->

<!-- beign #service -->
<div id="service" class="content" data-scrollview="true">
    <!-- begin container -->
    <div class="container">
        <h2 class="content-title">Our Services</h2>
		{*
        <p class="content-desc">
        </p>
        *}
        <!-- begin row -->
        <div class="row">
            <!-- begin col-4 -->
            <div class="col-md-4 col-sm-4">
                <div class="service">
                    <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-cog"></i></div>
                    <div class="info">
                        <h4 class="title">CRM</h4>
                        <p class="desc">Everything we offer is built around our simply designed CRM that looks great on your computer, a tablet or even your phone!</p>
                    </div>
                </div>
            </div>
            <!-- end col-4 -->
            <!-- begin col-4 -->
            <div class="col-md-4 col-sm-4">
                <div class="service">
                    <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-paint-brush"></i></div>
                    <div class="info">
                        <h4 class="title">Referral Tracking</h4>
                        <p class="desc">Track your referrals within ZugEnt easily! Knowing when a referral is closed is critical and we can help you there.</p>
                    </div>
                </div>
            </div>
            <!-- end col-4 -->
            <!-- begin col-4 -->
            <div class="col-md-4 col-sm-4">
                <div class="service">
                    <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-file"></i></div>
                    <div class="info">
                        <h4 class="title">Transactions</h4>
                        <p class="desc">Keep track of your transactions by keeping all of your documents encrypted and secure in an easy to report on structure.</p>
                    </div>
                </div>
            </div>
            <!-- end col-4 -->
        </div>
        <!-- end row -->
        <!-- begin row -->
        <div class="row">
            <!-- begin col-4 -->
            <div class="col-md-4 col-sm-4">
                <div class="service">
                    <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-code"></i></div>
                    <div class="info">
                        <h4 class="title">Drip Campaigns</h4>
                        <p class="desc">Its important that your clients are constantly contacted. We take care of the email side by offering an easy to use drip campaign system that is completely customizable!</p>
                    </div>
                </div>
            </div>
            <!-- end col-4 -->
            <!-- begin col-4 -->
            <div class="col-md-4 col-sm-4">
                <div class="service">
                    <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-shopping-cart"></i></div>
                    <div class="info">
                        <h4 class="title">Lead Pools</h4>
                        <p class="desc">If your a brokerage who would like to provide lead pools for your agents to work (Expired, Cancelled, FSBO, etc) we help facilitate opening these lists to your agents.</p>
                    </div>
                </div>
            </div>
            <!-- end col-4 -->
            <!-- begin col-4 -->
            <div class="col-md-4 col-sm-4">
                <div class="service">
                    <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-heart"></i></div>
                    <div class="info">
                        <h4 class="title">Custom Development</h4>
                        <p class="desc">Not every business is the same and we know that. Our custom development team can analyze complicated problems and work through to a solution.</p>
                    </div>
                </div>
            </div>
            <!-- end col-4 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end #about -->

{*
<!-- begin #pricing -->
<div id="pricing" class="content" data-scrollview="true">
    <!-- begin container -->
    <div class="container">
        <h2 class="content-title">Pricing</h2>
        <p class="content-desc">
			<p>We like to keep things simple and that extends to our pricing! Simply pay a monthly flat fee for the CRM and all the features that come with it and $15 per user. The first 3 users are included with the monthly CRM fee.</p>
			<p>We don't mess with complicated commitments. Cancel at any time. We also don't charge for every separate feature. We're also constantly growing and enhancing our toolset and adding new features all the time. With an account now rest assured that you will get access to all the new features as they come out without being charged extra!</p>
			<p>The only thing we will ever charge are any fees from your MLS or other agency and these are passed on with no markup what-so-ever!</p>
			<div class="panel panel-warning">
				<div class="panel-heading">Accounts Notice</div>
				<div class="panel-body">
				The $5 per user charge for every user after 3 is a <b><u>special launch price</u></b> for users. The future price at the end of 2017 will be $15 per month per user after your first 3 users. Accounts who are signed up before the price increase will enjoy $5 user accounts as long as your account is maintained. Join now to save!
				</div>
			</div>
        </p>
        <!-- begin pricing-table -->
        <ul class="pricing-table col-3">
            <li data-animation="true" data-animation-type="fadeInUp">
                <div class="pricing-container">
                    <h3>ZugCRM</h3>
                    <div class="price">
                        <div class="price-figure">
                            <span class="price-number">$149</span>
                            <span class="price-tenure">per month</span>
                        </div>
                    </div>
                </div>
            </li>
            <li data-animation="true" data-animation-type="fadeInUp">
                <div class="pricing-container">
                    <h3>Accounts</h3>
                    <div class="price">
                        <div class="price-figure">
                            <span class="price-number">$5/user</span>
                            <span class="price-tenure">per month</span>
                        </div>
                    </div>
                </div>
            </li>
            <li data-animation="true" data-animation-type="fadeInUp">
                <div class="pricing-container">
                    <h3>Custom Dev</h3>
                    <div class="price">
                        <div class="price-figure">
                            <span class="price-number">CALL</span>
                            <span class="price-tenure">or email</span>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <!-- end container -->
</div>
<!-- end #pricing -->
*}

<!-- begin #contact -->
<div id="contact" class="content bg-silver-lighter" data-scrollview="true">
    <!-- begin container -->
    <div class="container">
        <h2 class="content-title">Contact Us</h2>
        <p class="content-desc">
            Have any questions? Contact us at any time and you'll hear from the appropriate person as soon as possible.
        </p>
        <!-- begin row -->
        <div class="row">
            <!-- begin col-6 -->
            <div class="col-md-6" data-animation="true" data-animation-type="fadeInLeft">
                <p>
                    <strong>ZugEnt</strong><br />
                    1750 Fourth Avenue South #1037<br />
                    Seattle, WA 98134<br />
                    P: (425) 333-8984<br />
                </p>
                <p>
                    <a href="mailto:support@zugent.com">support@zugent.com</a>
                </p>
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-md-6 form-col" data-animation="true" data-animation-type="fadeInRight">
                <form name="contact-form" id="contact-form" class="form-horizontal" method="post" action="/contact_us.php">
                    <div class="form-group">
                        <label class="control-label col-md-3">Name <span class="text-theme">*</span></label>
                        <div class="col-md-9">
                            <input id="contact-name" name="contact-name" type="text" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Phone # <span class="text-theme">*</span></label>
                        <div class="col-md-9">
                            <input id="contact-phone" name="contact-phone" type="text" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Email <span class="text-theme">*</span></label>
                        <div class="col-md-9">
                            <input id="contact-email" name="contact-email" type="text" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Message <span class="text-theme">*</span></label>
                        <div class="col-md-9">
                            <textarea id="contact-message" name="contact-message" class="form-control" rows="10" required ></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3"></label>
                        <div class="col-md-9 text-left">
                            <button type="submit" id="send-message" class="btn btn-theme btn-block">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end col-6 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end #contact -->
{include file="includes/home_footer.tpl"}
