{include file="includes/home_header.tpl" is_index=0}

<div id="content" class="content" style="padding-top: 100px;">
	<div class="container">
				<ul class="post-list">
					<li>
                            <!-- begin post-left-info -->
                            <div class="post-left-info">
                                <div class="post-date">
                                    <span class="day">21</span>
                                    <span class="month">AUG<br/>2017</span>
                                </div>
                            </div>
                            <!-- end post-left-info -->
                            <!-- begin post-content -->
                            <div class="post-content">
                                <!-- begin blockquote -->
                                <blockquote>
                                    "We’re excited to finally let our vision of simple, no nonsense marketing and lead management tools for agents and brokers to reach you, our current and future customers."
                                </blockquote>
                                <!-- end blockquote -->
                                <!-- begin post-info -->
                                <div class="post-info">
                                    <h4 class="post-title">
                                        <a href="post_detail.html">Launch Day!</a>
                                    </h4>
                                    <div class="post-by">
                                        Posted By admin
                                    </div>
                                    <div class="post-desc">

										<p>It’s August 21st, 2017 and everybody in the United States is going crazy over the total solar eclipse. We’re also officially celebrating our first major milestone! We’re going live!</p>
										
										<p>Through lots of hard work and determination by the ZugEnt team the beginning of our product and journey has been realized with providing Agents and Brokerages great toolsets to improve running your business. </p>
										
										<p>There are lots of features and tools that are going to be coming out very soon so don’t think that this is it either! Every quarter we’ll be releasing a roadmap for the next quarter with our goals and expectations to our customers and at the same time collect constant feedback on what is working well and what we can improve on. This agile approach with external lenses for our customers is a game changer we hope you’ll love. </p>
										
										<p>With ZugEnt we’re sure you’ll be thrilled with our release schedule. Times are changing quickly in this high tech world and we don’t have the time to be stale and stuck at a stand-still. Your clients demand prompt reaction and that translates straight down to us. An iterative development approach is needed and we’re set to deliver on that. Our weekly release schedule with features and improvements will show you what you should expect from your other vendors. We’re here to shake things up!</p>
										
										<p>We’re excited to finally let our vision of simple, no nonsense marketing and lead management tools for agents and brokers to reach you, our current and future customers.</p>
										
										<p>If you haven’t yet taken the leap, let us know why! Our sales staff are standing by to answer any questions you might have. Just email us at sales@zugent.com with your questions and we’ll be sure to answer them promptly. We would love to have you on board!</p>

                                    </div>
                                </div>
                                <!-- end post-info -->
                            </div>
                            <!-- end post-content -->
                        </li>
				</ul>
			</div>
</div>




{include file="includes/home_footer.tpl"}
